appdirs==1.4.4
audioread==2.1.9
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
crypto==1.4.1
decorator==4.4.2
idna==2.10
joblib==0.17.0
librosa==0.8.0
llvmlite==0.35.0
mutagen==1.45.1
Naked==0.1.31
numba==0.52.0
numpy==1.19.4
packaging==20.7
pooch==1.3.0
PyAudio==0.2.11
pycparser==2.20
pycrypto==2.6.1
pydub==0.24.1
pyparsing==2.4.7
PyYAML==5.3.1
requests==2.25.0
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.4
selenium==3.141.0
shellescape==3.8.1
six==1.15.0
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
urllib3==1.26.2
Wave==0.0.2
